<template>
    <client-only>
        <div>
            <split name="test_split">
                <split-group name="A" weight="0.5">
                    <h1>Split group: "A"</h1>
                </split-group>

                <split-group name="B" weight="0.5">
                    <h1>Split group: "B"</h1>
                </split-group>
            </split>
            <split name="test_split_2" :user="user_token" @callback="splitTwoCallback">
                <split-group name="D" weight="0.5">
                    <h1>Split group: "D"</h1>
                </split-group>

                <split-group name="C" weight="0.5">
                    <h1>Split group: "C"</h1>
                </split-group>
            </split>
        </div>
    </client-only>
</template>

<script>
import {mapState} from 'vuex'

export default {
    computed: {
        ...mapState(['user_token']),
    },
    methods: {
        splitTwoCallback(test) {
            console.log(test)
        }
    },
    mounted() {
        this.$amplitude.logEvent('test_event')
    }
}
</script>